
h2.post-link-h2 {
    margin-bottom: 0px;
}

.site-header {
    background: url('../images/onecrow_original.jpg'); 
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;
}
